/*
  Estilo para os Card das Casas
*/
.house-box{
  border: 2px solid #424242;
  text-align: center;
  color: red;
  width: 300px;
  position: relative;
  height: 190px;

  img{
    max-width: 296px;
  }

  p{
    width: 100%;
    top: 159px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-top: 2px solid #424242;
  }

  .legenda{
    background-color: #9d9d9d;
    color: #ffffff;
    margin-top: -15px;
    position: absolute;
  }

  .nextphoto{
    top: 50%;
    position: absolute;
  }

}
